In [1]:
from call import *
from utils import *
from upload_predictions import *
import numpy as np

In [18]:
target = get_distinct_cd_cvm()

In [19]:
target

[94,
 140,
 701,
 906,
 1023,
 1120,
 1155,
 1210,
 1325,
 1384,
 1520,
 1562,
 1597,
 1694,
 2100,
 2429,
 2437,
 2453,
 2461,
 2577,
 2909,
 3069,
 3077,
 3115,
 3158,
 3174,
 3182,
 3190,
 3204,
 3298,
 3328,
 3336,
 3395,
 3549,
 3654,
 3891,
 3980,
 4030,
 4057,
 4081,
 4146,
 4170,
 4359,
 4448,
 4537,
 4650,
 4669,
 4693,
 4707,
 4723,
 4774,
 4820,
 5150,
 5207,
 5258,
 5312,
 5380,
 5410,
 5762,
 5770,
 5983,
 5991,
 6173,
 6211,
 6343,
 6505,
 6700,
 6815,
 7510,
 7544,
 7595,
 7617,
 7811,
 7870,
 8087,
 8133,
 8192,
 8397,
 8427,
 8451,
 8486,
 8575,
 8656,
 8672,
 8745,
 8753,
 8893,
 9040,
 9067,
 9342,
 9393,
 9415,
 9512,
 9539,
 9784,
 9857,
 9954,
 9989,
 10456,
 10472,
 10596,
 10880,
 10960,
 11070,
 11207,
 11223,
 11231,
 11258,
 11312,
 11320,
 11398,
 11592,
 11762,
 11800,
 11932,
 11975,
 11991,
 12190,
 12220,
 12262,
 12319,
 12530,
 12572,
 12653,
 12696,
 12793,
 12823,
 12858,
 12866,
 13030,
 13285,
 13412,
 13439,
 13471,
 13765,
 13773,
 13781,
 13986,
 14010,
 14028,
 14109,
 14133,
 14206,
 14311,
 14320,
 14346,
 14443,
 14460,
 14540,
 14559,
 14621,
 14664,
 14761,
 14796,
 14826,
 14931,
 15083,
 15091,
 15253,
 15300,
 15369,
 15423,
 15458,
 15539,
 15610,
 15652,
 16101,
 16225,
 16233,
 16292,
 16306,
 16330,
 16390,
 16438,
 16497,
 16624,
 16632,
 16659,
 16705,
 16730,
 16748,
 16950,
 16993,
 17329,
 17337,
 17361,
 17388,
 17418,
 17442,
 17450,
 17493,
 17540,
 17558,
 17604,
 17639,
 17647,
 17655,
 17671,
 17710,
 17779,
 17868,
 17892,
 17914,
 17922,
 17930,
 17973,
 18112,
 18287,
 18350,
 18368,
 18376,
 18414,
 18465,
 18651,
 18660,
 18678,
 18708,
 18716,
 18724,
 18775,
 18821,
 18902,
 18953,
 18961,
 18970,
 18988,
 19046,
 19062,
 19089,
 19100,
 19143,
 19216,
 19232,
 19305,
 19313,
 19330,
 19348,
 19437,
 19445,
 19453,
 19550,
 19569,
 19615,
 19623,
 19631,
 19658,
 19739,
 19763,
 19771,
 19798,
 19801,
 19836,
 19860,
 19879,
 19887,
 19909,
 19917,
 19925,
 19933,
 19992,
 20010,
 20028,
 20036,
 20044,
 20060,
 20087,
 20125,
 20141,
 20168,
 20184,
 20214,
 20257,
 20265,
 20320,
 20338,
 20346,
 20354,
 20362,
 20370,
 20400,
 20419,
 20435,
 20451,
 20478,
 20486,
 20494,
 20516,
 20524,
 20532,
 20540,
 20567,
 20575,
 20605,
 20613,
 20621,
 20630,
 20656,
 20680,
 20702,
 20710,
 20729,
 20745,
 20753,
 20770,
 20788,
 20796,
 20800,
 20818,
 20842,
 20850,
 20877,
 20885,
 20907,
 20915,
 20931,
 20958,
 20966,
 20974,
 20982,
 20990,
 21008,
 21016,
 21032,
 21040,
 21067,
 21091,
 21113,
 21121,
 21130,
 21148,
 21156,
 21172,
 21180,
 21199,
 21202,
 21237,
 21261,
 21300,
 21334,
 21342,
 21350,
 21377,
 21415,
 21431,
 21440,
 21466,
 21482,
 21490,
 21520,
 21539,
 21555,
 21563,
 21580,
 21601,
 21610,
 21636,
 21652,
 21709,
 21717,
 21725,
 21733,
 21741,
 21776,
 21792,
 21806,
 21865,
 21881,
 21903,
 22012,
 22020,
 22047,
 22055,
 22110,
 22128,
 22136,
 22144,
 22187,
 22209,
 22217,
 22284,
 22292,
 22349,
 22357,
 22365,
 22373,
 22381,
 22438,
 22454,
 22470,
 22497,
 22500,
 22519,
 22535,
 22551,
 22560,
 22586,
 22594,
 22608,
 22616,
 22632,
 22667,
 22675,
 22691,
 22756,
 22772,
 22780,
 22799,
 22810,
 22829,
 22845,
 22942,
 22993,
 23000,
 23035,
 23116,
 23140,
 23159,
 23175,
 23183,
 23221,
 23230,
 23248,
 23264,
 23272,
 23280,
 23299,
 23302,
 23310,
 23396,
 23426,
 23434,
 23450,
 23485,
 23493,
 23507,
 23531,
 23574,
 23590,
 23604,
 23612,
 23620,
 23710,
 23728,
 23736,
 23779,
 23795,
 23817,
 23825,
 23868,
 23930,
 23957,
 23981,
 24058,
 24090,
 24112,
 24120,
 24171,
 24180,
 24201,
 24228,
 24236,
 24252,
 24260,
 24279,
 24295,
 24309,
 24317,
 24350,
 24384,
 24392,
 24406,
 24414,
 24473,
 24490,
 24546,
 24589,
 24597,
 24600,
 24627,
 24660,
 24694,
 24716,
 24740,
 24775,
 24783,
 24805,
 24813,
 24821,
 24830,
 24848,
 24872,
 24880,
 24902,
 24910,
 24929,
 24961,
 24996,
 25003,
 25011,
 25038,
 25046,
 25062,
 25070,
 25089,
 25100,
 25119,
 25127,
 25135,
 25143,
 25160,
 25186,
 25194,
 25208,
 25224,
 25232,
 25259,
 25275,
 25283,
 25291,
 25305,
 25313,
 25321,
 25330,
 25348,
 25372,
 25380,
 25399,
 25402,
 25410,
 25429,
 25437,
 25445,
 25453,
 25461,
 25470,
 25488,
 25496,
 25500,
 25526,
 25534,
 25542,
 25550,
 25569,
 25585,
 25640,
 25658,
 25666,
 25674,
 25682,
 25690,
 25704,
 25712,
 25720,
 25739,
 25747,
 25755,
 25763,
 25771,
 25780,
 25798,
 25801,
 25810,
 25836,
 25844,
 25852,
 25860,
 25879,
 25887,
 25895,
 25909,
 25917,
 25925,
 25933,
 25950,
 25976,
 25984,
 25992,
 26000,
 26026,
 26034,
 26050,
 26069,
 26077,
 26085,
 26093,
 26123,
 26131,
 26140,
 26158,
 26166,
 26174,
 26190,
 26204,
 26247,
 26255,
 26271,
 26280,
 26298,
 26301,
 26328,
 26336,
 26352,
 26379,
 26387,
 26395,
 26409,
 26417,
 26441,
 26468,
 26476,
 26506,
 26514,
 26522,
 26530,
 26549,
 26557,
 26565,
 26573,
 26603,
 26620,
 26646,
 26689,
 26697,
 26700,
 26760,
 26786,
 26794,
 26867,
 26891,
 26956,
 26964,
 26972,
 26980,
 27006,
 27014,
 27022,
 27049,
 27057,
 27073,
 27090,
 27103,
 27138,
 27154,
 27162,
 27189,
 27219,
 27227,
 27243,
 27260,
 27278,
 27324,
 27332,
 27340,
 27367,
 27375,
 27383,
 27391,
 27413,
 27430,
 27472,
 27480,
 27499,
 27502,
 80020,
 80047,
 80063,
 80071,
 80080,
 80098,
 80101,
 80110,
 80136,
 80144,
 80152,
 80160,
 80179,
 80187,
 80195,
 80209,
 80217,
 80225,
 902123]

In [21]:
len(get_unique_cd_cvm_from_predictions())

349

In [20]:
predictions = get_financial_predictions_table()
predictions.head()

,Year_CD_CVM,Year,CD_CVM,Panel A,Panel B,Panel C,Prediction Direction,Magnitude,Confidence,Completion Tokens,Prompt Tokens,Model Name,Average Logprob,Median Logprob,Std Logprob,actual_earnings_direction,NAME
0,2022_7617,2022,7617,In analyzing the income statements from 2018 t...,The ratio analysis suggests a positive traject...,Given the trend of rising revenues and profits...,1,large,0.85,263,9061,gpt-4o-mini,-114.910470,-0.228408,1063.746530,1,ITAÚSA S.A.
1,2019_7617,2019,7617,Historical revenue showed a consistent upward ...,Ratio analysis indicates that the operating ma...,Considering the current trends and the impact ...,1,moderate,0.75,264,9084,gpt-4o-mini,-228.080760,-0.289093,1492.881813,1,ITAÚSA S.A.
2,2015_7617,2015,7617,The financial data for the past six years show...,Ratio analysis reveals a declining trend in sa...,"Based on historical trends and ratio analysis,...",1,moderate,0.75,275,9126,gpt-4o-mini,-73.565014,-0.300330,851.088512,1,ITAÚSA S.A.
3,2020_7617,2020,7617,The historical trend of revenue shows fluctuat...,Ratio analysis indicates a decrease in revenue...,Given the recent revenue decline and the chall...,-1,small,0.70,318,9077,gpt-4o-mini,-189.510702,-0.385459,1362.475862,-1,ITAÚSA S.A.
4,2016_7617,2016,7617,Analyzing the income statements from 2012 to 2...,"From the ratio analysis, although revenues are...",Given the trends in revenue and expense manage...,-1,small,0.75,363,9102,gpt-4o-mini,-83.559555,-0.291111,906.402025,-1,ITAÚSA S.A.

In [22]:
metrics_df = calculate_metrics(predictions)
metrics_df

,CD_CVM,NAME,F1 Score,Accuracy,Precision,Weighted Avg Logprob,Linear Probability,Confidence,Valid Predictions,Predictions 1,Actual Earnings 1,Predictions -1,Actual Earnings -1,Large Magnitude %,Moderate Magnitude %,Small Magnitude %
0,7617,ITAÚSA S.A.,0.78,0.78,0.78,-0.32,73.0,0.777778,9,6,6,3,3,33.33,44.44,22.22
1,8133,LOJAS RENNER S.A.,0.48,0.56,0.42,-0.29,75.0,0.794444,9,8,6,1,3,44.44,44.44,11.11
2,6505,GRUPO CASAS BAHIA S.A.,0.48,0.44,0.52,-0.35,70.0,0.800000,9,3,2,6,7,66.67,33.33,0.00
3,22470,MAGAZINE LUIZA S.A.,0.43,0.44,0.43,-0.28,76.0,0.794444,9,6,5,3,4,55.56,33.33,11.11
4,20567,BCO PINE S.A,0.77,0.78,0.85,-0.33,72.0,0.772222,9,3,5,6,4,55.56,44.44,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,12262,JPSP INVESTIMENTOS E PARTICIPAÇÕES S/A,0.33,0.50,0.25,-0.44,64.0,0.900000,2,0,1,2,1,100.00,0.00,0.00
345,14311,CIA PARANAENSE DE ENERGIA - COPEL,0.56,0.56,0.56,-0.32,73.0,0.816667,9,6,6,3,3,55.56,33.33,11.11
346,18414,PADTEC HOLDING S.A.,0.33,0.33,0.33,-0.43,65.0,0.800000,9,4,4,5,5,66.67,33.33,0.00
347,4081,CIA TECIDOS SANTANENSE,0.37,0.38,0.37,-0.34,71.0,0.775000,8,5,4,3,4,37.50,50.00,12.50
348,20478,PDG REALTY S.A. EMPREEND E PARTICIPACOES,0.40,0.44,0.47,-0.47,63.0,0.811111,9,2,5,7,4,66.67,33.33,0.00

In [23]:
agg=calculate_agg_metrics(metrics_df)
agg

               Metric    Average  Standard Deviation
0            F1 Score   0.466624            0.249127
1            Accuracy   0.485493            0.245059
2           Precision   0.482270            0.269943
3  Linear Probability  67.967152            5.250890